@model ViewModels.Question.Response.QuestionVm
@{
    int thisQ = Convert.ToInt32(ViewBag.numQuestionTracnghiem);
    int totalQTracNghiem = Convert.ToInt32(ViewBag.soluongcauhoiTracNghiem);
    int totalQTuLuan = Convert.ToInt32(ViewBag.soluongcauhoiTuLuan);

    int totalQ = Convert.ToInt32(ViewBag.totalQuestion);
    double percentProcessbar = ((double)thisQ / totalQTracNghiem) * 100;
    string pP = percentProcessbar.ToString() + "%";
}

<div class="progress-group">
    <div class="progress-group-header">
        <i class="bi-mortarboard mx-1"></i>
        <div>Phần thi trắc nghiệm</div>
        <div class="ms-auto font-weight-bold">Đã hoàn thành @thisQ/@totalQTracNghiem câu hỏi</div>
    </div>
    <div class="progress-group-bars">
        <div class="progress ">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @pP"></div>
        </div>
    </div>
</div>
<div class="card bg-white pt-1  animate__animated animate__zoomIn ">
    <div class="card-body text-center">
        <form id="formTraLoiCauHoiTracNghiem">
            <div>
                <span class="badge rounded-pill text-bg-dark mb-3 ">@Model.Score điểm</span>
                <h2>@Model.Text</h2>
                <p>Tên linh kiện tại công đoạn?</p>
                @{
                    if (!string.IsNullOrEmpty(Model.QA))
                    {
                        <button style="width:200px" class="btn  btn-outline-primary mt-2" type="submit" name="answer" value="A">@Model.QA</button>
                    }
                    if (!string.IsNullOrEmpty(Model.QB))
                    {
                        <button style="width:200px" class="btn  btn-outline-primary mt-2" type="submit" name="answer" value="B">@Model.QB</button>
                    }
                    if (!string.IsNullOrEmpty(Model.QC))
                    {
                        <button style="width:200px" class="btn  btn-outline-primary mt-2" type="submit" name="answer" value="C">@Model.QC</button>
                    }
                    if (!string.IsNullOrEmpty(Model.QD))
                    {
                        <button style="width:200px" class="btn  btn-outline-primary mt-2" type="submit" name="answer" value="D">@Model.QD</button>
                    }
                }
            </div>
            <input id="Id" value="@Model.Id" hidden />
            <input id="Text" value="@Model.Text" hidden />
            <input id="QA" value="@Model.QA" hidden />
            <input id="QB" value="@Model.QB" hidden />
            <input id="QC" value="@Model.QC" hidden />
            <input id="QD" value="@Model.QD" hidden />
            <input id="QCorrectAns" value="@Model.QCorrectAns" hidden />
            <input id="Score" value="@Model.Score" hidden />
            <input id="CategoryId" value="@Model.CategoryId" hidden />
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#formTraLoiCauHoiTracNghiem').submit(function (e) {
            e.preventDefault();
            var Id = $("#Id").val();
            var Text = $("#Text").val();
            var QA = $("#QA").val();
            var QB = $("#QB").val();
            var QC = $("#QC").val();
            var QD = $("#QD").val();
            var QCorrectAns = $("#QCorrectAns").val();
            var Score = $("#Score").val();
            var CategoryId = $("#CategoryId").val();
            var answer = $("button[name='answer']:focus").val();

            var intId = parseInt(Id);
            var floatScore = parseFloat(Score);
            var intCategoryId = parseInt(CategoryId);

            var data = {
                Id: intId,
                Text: Text,
                QA: QA,
                QB: QB,
                QC: QC,
                QD: QD,
                QCorrectAns: QCorrectAns,
                Score: floatScore,
                CategoryId: intCategoryId,
            };
            $.ajax({
                type: "POST",
                url: "TraloiTracNghiem",
                data: {
                    q : data,
                    answer: answer
                },
                success: function (result) {
                    if (result.success) {
                        $.ajax({
                            url: 'TestingTracNghiem',
                            type: 'GET',
                            success: function (response) {
                                $("#examTracNghiem").html(response);
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                    else {                        
                        Swal.fire({
                            icon: "error",
                            width: 300,
                            text: result.message,
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                }
            });
        });
    });
</script>