@model List<ViewModels.Question.Response.QuestionAndAnswerVm>
@{
    //List<ViewModels.Question.Response.QuestionAndAnswerVm> cauhoivacautraloitracnghiem = ViewBag.questionAndAnswerTracNghiem as List<ViewModels.Question.Response.QuestionAndAnswerVm>;
    int demtn = 0;
    int demtl = 0;
}

@if (Model.Count > 0)
{
    <h1 class="display-6 mb-3">
        <i class="bi-list-nested"></i>
        Trắc nghiệm
    </h1>
    foreach (var item in Model)
    {
        demtn++;
        string idThe = "tn" + item.Id.ToString();
        <div class="accordion-item  animate__animated animate__fadeInLeft">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#@idThe" aria-expanded="false" aria-controls="@idThe">
                    <span class="badge bg-dark me-2 ">Câu @demtn</span>  @item.Text
                </button>
            </h2>
            <div id="@idThe" class="accordion-collapse collapse" data-coreui-parent="#accordionExample">
                <div class="accordion-body border border-0">
                    <div class="container-sm">
                        @{
                            if (!string.IsNullOrEmpty(item.QA))
                            {
                                <div class="col-12">
                                    <div class="btn-group mb-2 w-100 shadow-sm">
                                        <button class="btn btn-dark disabled" style="min-width:40px">A</button>
                                        <button style="text-align:start" class=" btn w-100 btnDoicautraloi
                                    @if(item.Answer == "A")
                                {
                                                <text>btn-primary disabled</text>
                                }
                                else
                                {
                                            <text>btn-light</text>
                                }
                                              " data-id="@item.Id" data-newAs="A">@item.QA
                                                                      </button>
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(item.QB))
                            {
                                <div class="col-12">
                                    <div class="btn-group mb-2 w-100 shadow-sm">
                                        <button class="btn btn-dark disabled" style="min-width:40px">B</button>
                                        <button style="text-align:start" class=" btn w-100 btnDoicautraloi
                                    @if(item.Answer == "B")
                                {
                                                <text>btn-primary disabled</text>
                                }
                                else
                                {
                                                <text>btn-light</text>
                                }
                                              " data-id="@item.Id" data-newAs="B">@item.QB
                                                                      </button>
                                    </div>
                                </div>

                            }
                            if (!string.IsNullOrEmpty(item.QC))
                            {
                                <div class="col-12">
                                    <div class="btn-group mb-2 w-100 shadow-sm">
                                        <button class="btn btn-dark disabled" style="min-width:40px">C</button>
                                        <button style="text-align:start" class=" btn w-100 btnDoicautraloi
                                    @if(item.Answer == "C")
                                {
                                                        <text>btn-primary disabled</text>
                                    }
                                    else
                                    {
                                                        <text>btn-light</text>
                                    }
                                                " data-id="@item.Id" data-newAs="B">@item.QC
                                                                                    </button>
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(item.QD))
                            {
                                <div class="col-12">
                                    <div class="btn-group mb-2 w-100 shadow-sm">
                                        <button class="btn btn-dark disabled" style="min-width:40px">D</button>
                                        <button style="text-align:start" class=" btn w-100 btnDoicautraloi
                                    @if(item.Answer == "D")
                                {
                                                    <text>btn-primary disabled</text>
                                }
                                else
                                {
                                                        <text>btn-light</text>
                                }
                                                      " data-id="@item.Id" data-newAs="D">@item.QD
                                                            </button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@{
    if (ViewBag.listQuestionAndAnswerTrinhTuThaoTac != null)
    {
        List<ViewModels.CauHoiTrinhTuThaoTac.Response.QuestionAndAnswerTrinhTuThaoTacVm> lichsuTuluan = ViewBag.listQuestionAndAnswerTrinhTuThaoTac as List<ViewModels.CauHoiTrinhTuThaoTac.Response.QuestionAndAnswerTrinhTuThaoTacVm>;
        if (lichsuTuluan.Count > 0)
        {
            <h1 class="display-6 my-3">
                <i class="bi-list-nested"></i>
                Tự luận
            </h1>
            var groupDataTuluan = lichsuTuluan.GroupBy(x => x.CauHoiTuLuanId);
            foreach (var group in groupDataTuluan)
            {
                demtl++;
                string idThe = "tl" + group.FirstOrDefault().Id.ToString();
                int cauhoituluanId = group.FirstOrDefault().CauHoiTuLuanId;
                <div class="accordion-item  animate__animated animate__fadeInLeft">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#@idThe" aria-expanded="false" aria-controls="@idThe">
                            <span class="badge bg-dark me-2 ">Câu @demtl</span>  @group.FirstOrDefault().CauHoiTuLuanText
                        </button>
                    </h2>
                    <div id="@idThe" class="accordion-collapse collapse" data-coreui-parent="#accordionExample">
                        <div class="accordion-body border border-0">
                            <div class="container-sm">
                                <p class="mb-1" style="text-align:start;font-weight:400;">
                                    <em>
                                        <i class="bi-dot"></i>
                                        Sắp xếp theo đúng trình tự WSD
                                    </em>
                                </p>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <table class="table table-hover " style="width:100%">
                                            <thead style="vertical-align:middle;font-size:small">
                                                <tr>
                                                    <th class="col-2" style="text-align:center;font-weight: 300">
                                                        Thứ tự
                                                    </th>
                                                    <th hidden>
                                                        Id
                                                    </th>
                                                    <th class="col-10" style="text-align:start;font-weight: 300">
                                                        Nội dung thao tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in group.OrderBy(x => x.Answer))
                                                {
                                                    <tr style="text-align:center;vertical-align:middle">
                                                        <td>
                                                            @item.Answer
                                                        </td>
                                                        <td hidden>
                                                            @item.Id
                                                        </td>
                                                        <td style="text-align:start">
                                                            @item.Text
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <button style="width:200px" class="btn btn-outline-primary btnDoicautraloituluan" data-cauhoituluanId="@cauhoituluanId">
                                            <i class="bi-arrow-clockwise"></i>
                                            Thay đổi câu trả lời
                                        </button>
                                    </div>
                                </div>

                                <p class="mb-1" style="text-align:start;font-weight:400;">
                                    <em>
                                        <i class="bi-dot"></i>
                                        Điểm chú ý tại công đoạn / Spec tại công đoạn (Nếu có)
                                    </em>
                                </p>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <table id="tblDCY" class="table table-hover" style="width:100%">
                                            <thead style="vertical-align:middle;font-size:small">
                                                <tr>
                                                    <th class="col-2" style="font-weight: 300;text-align:center">
                                                        STT
                                                    </th>
                                                    <th hidden>
                                                        Id
                                                    </th>
                                                    <th class="col-10" style="font-weight: 300;text-align:start">
                                                        Điểm chú ý
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    var viewbagDCY = ViewBag.listQuestionAndAnswerDiemChuY as List<ViewModels.CauHoiTrinhTuThaoTac.Response.QuestionAndAnswerDiemChuYVm>;
                                                    var listDCY = viewbagDCY.Where(x => x.CauHoiTuLuanId == cauhoituluanId).ToList();
                                                    foreach (var i in listDCY)
                                                    {
                                                        <tr style="text-align:center;vertical-align:middle">
                                                            <td>
                                                                @i.Answer
                                                            </td>
                                                            <td hidden>
                                                                @i.Id
                                                            </td>
                                                            <td style="text-align:start">
                                                                @i.Text
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <button style="width:200px" class="btn btn-outline-primary btnDoicautraloiDCY" data-cauhoituluanId="@cauhoituluanId">
                                            <i class="bi-arrow-clockwise"></i>
                                            Thay đổi câu trả lời
                                        </button>
                                    </div>
                                </div>
                                <p class="mb-1" style="text-align:start;font-weight:400;">
                                    <em>
                                        <i class="bi-dot"></i>
                                        Lỗi tại công đoạn
                                    </em>
                                </p>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <table id="tblLTCD" class="table table-hover" style="width:100%">
                                            <thead style="vertical-align:middle;font-size:small">
                                                <tr>
                                                    <th class="col-2" style="font-weight: 300;text-align:center">
                                                        STT
                                                    </th>
                                                    <th hidden>
                                                        Id
                                                    </th>
                                                    <th class="col-10" style="font-weight: 300;text-align:start">
                                                        Lỗi tại công đoạn
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    var viewbagLTCD = ViewBag.listQuestionAndAnswerLoiTaiCongDoan as List<ViewModels.CauHoiTrinhTuThaoTac.Response.QuestionAndAnswerLoiTaiCongDoanVm>;
                                                    var listLTCD = viewbagLTCD.Where(x => x.CauHoiTuLuanId == cauhoituluanId).ToList();
                                                    foreach (var i in listLTCD)
                                                    {
                                                        <tr style="text-align:center;vertical-align:middle">
                                                            <td>
                                                                @i.Answer
                                                            </td>
                                                            <td hidden>
                                                                @i.Id
                                                            </td>
                                                            <td style="text-align:start">
                                                                @i.Text
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <button style="width:200px" class="btn btn-outline-primary btnDoicautraloiLTCD" data-cauhoituluanId="@cauhoituluanId">
                                            <i class="bi-arrow-clockwise"></i>
                                            Thay đổi câu trả lời
                                        </button>
                                    </div>
                                </div>
                                <p class="mb-1" style="text-align:start;font-weight:400;">
                                    <em>
                                        <i class="bi-dot"></i>
                                        Đối sách
                                    </em>
                                </p>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <table id="tblLTCD" class="table table-hover" style="width:100%">
                                            <thead style="vertical-align:middle;font-size:small">
                                                <tr>
                                                    <th class="col-5" style="font-weight: 300;text-align:center">
                                                        Lỗi tại công đoạn
                                                    </th>
                                                    <th hidden>
                                                        Id
                                                    </th>
                                                    <th class="col-2">
                                                    </th>
                                                    <th class="col-5" style="font-weight: 300;text-align:start">
                                                        Đối sách
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    var viewbagDS = ViewBag.listQuestionAndAnswerDoiSach as List<ViewModels.CauHoiTrinhTuThaoTac.Response.QuestionAndAnswerDoiSachVm>;
                                                    var listDS = viewbagDS.Where(x => x.CauHoiTuLuanId == cauhoituluanId).ToList();
                                                    foreach (var i in listDS)
                                                    {
                                                        <tr style="text-align:center;vertical-align:middle">
                                                            <td>
                                                                @i.Answer
                                                            </td>
                                                            <td style="text-align:center">
                                                                <i class="bi-arrow-right"></i>
                                                            </td>
                                                            <td hidden>
                                                                @i.Id
                                                            </td>
                                                            <td style="text-align:start">
                                                                @i.Text
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <button style="width:200px" class="btn btn-outline-primary btnDoicautraloiDS" data-cauhoituluanId="@cauhoituluanId">
                                            <i class="bi-arrow-clockwise"></i>
                                            Thay đổi câu trả lời
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
    }
}

<div class="modal fade" id="staticBackdrop" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="tableDulieucauhoi"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdropDCY" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="tableDulieucauhoiDCY"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdropLTCD" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="tableDulieucauhoiLTCD"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdropDS" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="tableDulieucauhoiDS"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btnDoicautraloi").click(function () {
            var id = $(this).attr("data-id");
            var intId = parseInt(id);
            var newas = $(this).attr("data-newAs");
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger",
                },
                buttonsStyling: true,
            });
            swalWithBootstrapButtons
                .fire({
                    title: "Thay đổi câu trả lời?",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonText: "Xác nhận",
                    cancelButtonText: "Huỷ bỏ",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: 'ChangeAnswer',
                            type: 'POST',
                            data: { id: intId, newAns: newas },
                            success: function (response) {
                                Swal.fire({
                                    icon: "success",
                                    width: 300,
                                    text: "Đổi câu trả lời thành công",
                                    showConfirmButton: false,
                                    timer: 1000,
                                })
                                $.ajax({
                                    url: 'GetLogQuestionAndAnswers',
                                    type: 'GET',
                                    success: function (response) {
                                        $("#accordionExample").html(response);
                                    },
                                    error: function (error) {
                                        console.log(error);
                                    }
                                });
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                });
        });
        $(".btnDoicautraloituluan").click(function () {
            var cauhoituluanId = $(this).attr("data-cauhoituluanId");
            var id = parseInt(cauhoituluanId);
            $.ajax({
                url: 'ChangeChooseTuLuan',
                data: {
                    cauhoituluanId: id
                },
                type: 'GET',
                success: function (response) {
                    $("#tableDulieucauhoi").html(response);
                    $("#staticBackdrop").modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
        $(".btnDoicautraloiDCY").click(function () {
            var cauhoituluanId = $(this).attr("data-cauhoituluanId");
            var id = parseInt(cauhoituluanId);
            $.ajax({
                url: 'ChangeChooseDCY',
                data: {
                    cauhoituluanId: id
                },
                type: 'GET',
                success: function (response) {
                    $("#tableDulieucauhoiDCY").html(response);
                    $("#staticBackdropDCY").modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
        $(".btnDoicautraloiLTCD").click(function () {
            var cauhoituluanId = $(this).attr("data-cauhoituluanId");
            var id = parseInt(cauhoituluanId);
            $.ajax({
                url: 'ChangeChooseLTCD',
                data: {
                    cauhoituluanId: id
                },
                type: 'GET',
                success: function (response) {
                    $("#tableDulieucauhoiLTCD").html(response);
                    $("#staticBackdropLTCD").modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })

        $(".btnDoicautraloiDS").click(function () {
            var cauhoituluanId = $(this).attr("data-cauhoituluanId");
            var id = parseInt(cauhoituluanId);
            $.ajax({
                url: 'ChangeChooseDS',
                data: {
                    cauhoituluanId: id
                },
                type: 'GET',
                success: function (response) {
                    $("#tableDulieucauhoiDS").html(response);
                    $("#staticBackdropDS").modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    })
</script>