@model List<ViewModels.CauHoiTrinhTuThaoTac.Response.QuestionAndAnswerDiemChuYVm>
@{
    var cauhoituluanId = Model.FirstOrDefault().CauHoiTuLuanId;
}
<style>
    #tbl thead tr th {
        pointer-events: none;
    }

    #tbl tbody > tr:last-child > td {
        border-bottom: 0;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">
        <i class="bi-arrow-clockwise"></i>
        Thay đổi câu trả lời
    </h5>
    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-header">
            II. Điểm chú ý tại công đoạn / Spec tại công đoạn (Nếu có):
        </div>
        <div class="card-body text-end">
            <table class="table table-hover" style="width:100%;margin-bottom:0px">
                <thead style="vertical-align:middle;font-size:small">
                    <tr>
                        <th class="col-3" style="text-align:center;font-weight: 300">
                            Thứ tự
                        </th>
                        <th hidden>
                        </th>
                        <th class="col-9" style="text-align:start;font-weight: 300">
                            Nội dung thao tác
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(x => x.Answer))
                    {
                        <tr style="text-align:center;vertical-align:middle">
                            <td>
                                <input min="1" type="number" class="form-control ansDCY" value="@item.Answer" style="text-align:center" required
                                   data-id="@item.Id" data-cauhoituluanId="@cauhoituluanId">
                            </td>
                            <td hidden>
                                @item.Id
                            </td>
                            <td style="text-align:start">
                                @item.Text
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button id="btnXacNhanThayDoiCauTraLoiDCY" style="width:200px" class="btn btn-outline-primary mt-3">
                <i class="bi-check"></i>
                Xác nhận
            </button>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $("#btnXacNhanThayDoiCauTraLoiDCY").click(function () {
            var dataToSend = [];
            $('.ansDCY').each(function () {
                var input = $(this).val();
                var id = $(this).attr("data-id");
                var cauhoituluanId = $(this).attr("data-cauhoituluanId");

                var data = {
                    Id: id,
                    Answer: input,
                    CauHoiTuLuanId: cauhoituluanId
                };
                dataToSend.push(data);
            });
            console.log(dataToSend)

            $.ajax({
                url: 'PostChangeChooseDCY',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                success: function (response) {
                    Swal.fire({
                        icon: "success",
                        width: 300,
                        text: "Đổi câu trả lời thành công",
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(function () {
                        $("#staticBackdropDCY").modal("hide");
                        $.ajax({
                            url: 'GetLogQuestionAndAnswers',
                            type: 'GET',
                            success: function (response) {
                                $("#accordionExample").html(response);
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: "error",
                                    width: 300,
                                    text: "Hãy thử lại...",
                                    showConfirmButton: false,
                                    timer: 1000,
                                })
                            }
                        });
                    });
                },
                error: function (error) {
                    Swal.fire({
                        icon: "error",
                        width: 300,
                        text: "Hãy thử lại...",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            });

        })
    });
</script>

