@model List<ViewModels.CauHoiTrinhTuThaoTac.Response.CauHoiTrinhTuThaoTacVm>

@{
    var randomid = GetHashCode();
}

<table id="@randomid" class="table table-light table-hover table-sm" style="font-size:small">
    <thead style="vertical-align:middle;font-size:small">
        <tr>
            <th class="col-2" style="text-align:center">
                Thứ tự
            </th>
            <th hidden>
                Id
            </th>
            <th class="col-8">
                Nội dung thao tác
            </th>
            <th class="col-2" style="text-align:center">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align:center;vertical-align:middle">
                <td>
                    @item.ThuTu
                </td>
                <td hidden>
                    @item.Id
                </td>
                <td style="text-align:start">
                    @item.Text
                </td>
                <td>
                    <div class="btn-group" style=" white-space:nowrap;">
                        <btn class="btn btn-outline-secondary btn-sm btnSuaCauHoiTrinhTuThaoTac" data-abc="@item.CauHoiTuLuanId" data-id="@item.Id" data-noidungcauhoi="@item.Text">
                            <i class="bi-pencil"> </i>
                            Sửa
                        </btn>
                        <btn class="btn btn-outline-secondary btn-sm btnXoaCauHoiTrinhTuThaoTac" data-abc="@item.CauHoiTuLuanId" data-id="@item.Id" data-noidungcauhoi="@item.Text">
                            <i class="bi-trash"> </i>
                            Xoá
                        </btn>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var table = $("#@randomid").DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "rowReorder": true
        });
        table.on('row-reorder', function (e, diff, edit) {
            table.one('draw', function () {
                var newOrder = [];
                for (var i = 0; i < table.rows().count(); i++) {
                    var rowData = table.row(i).data();
                    newOrder.push({ Id: rowData[1], ThuTu: rowData[0] });
                }
                var parsedNewOrder = newOrder.map(item => ({ Id: parseInt(item.Id), ThuTu: parseInt(item.ThuTu) }));
                console.log(parsedNewOrder)
                $.ajax({
                    url: 'UpdatePositions',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(parsedNewOrder),
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        $(".btnSuaCauHoiTrinhTuThaoTac").click(async function () {
            var id = $(this).data("id");
            var noidungcauhoi = $(this).data("noidungcauhoi");
            var cauhoituluanId = $(this).data("abc");
            var intId = parseInt(id);
            var intcauhoituluanId = parseInt(cauhoituluanId);

            const { value: text } = await Swal.fire({
                input: "textarea",
                inputLabel: "Sửa nội dung :",
                inputValue: noidungcauhoi.trim(),
                inputAttributes: {
                    "aria-label": "Type your message here",
                },
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Huỷ bỏ",
                reverseButtons: true,
            });
            if (text) {
                $.ajax({
                    url: "UpdateTextCauHoiTrinhTuThaoTac",
                    type: "POST",
                    data: {
                        id: intId,
                        Text: text,
                    },
                    success: function (result) {
                        Swal.fire({
                            icon: "success",
                            title: "Sửa nội dung thành công",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        $.ajax({
                            url: "GetAllByCauHoiTuLuan",
                            type: "POST",
                            data: {
                                id: intcauhoituluanId,
                            },
                            success: function (result) {
                                $("#@randomid").html(result);
                            },
                        });
                    },
                });
            }
        });

        $(".btnXoaCauHoiTrinhTuThaoTac").click(async function () {
            var id = $(this).data("id");
            var noidungcauhoi = $(this).data("noidungcauhoi");
            var cauhoituluanId = $(this).data("abc");
            var intId = parseInt(id);
            var intcauhoituluanId = parseInt(cauhoituluanId);

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger",
                },
                buttonsStyling: true,
            });
            swalWithBootstrapButtons
                .fire({
                    title: "Xoá câu hỏi?",
                    text: "Dữ liệu liên quan tới câu hỏi sẽ bị xoá",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xác nhận",
                    cancelButtonText: "Huỷ bỏ",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "DeleteCauHoiTrinhTuThaoTac",
                            type: "POST",
                            data: {
                                id: id,
                                cauhoituluanId: cauhoituluanId
                            },
                            success: function (result) {
                                if (result.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Xoá câu hỏi thành công",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    });
                                    $.ajax({
                                        url: "GetAllByCauHoiTuLuan",
                                        type: "POST",
                                        data: {
                                            id: intcauhoituluanId,
                                        },
                                        success: function (result) {
                                            $("#@randomid").html(result);
                                        },
                                    });
                                } else {
                                    Swal.fire(
                                        "Lỗi máy chủ",
                                        "Thao tác đã được huỷ bỏ!",
                                        "error"
                                    );
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.fire(
                                    "Lỗi máy chủ",
                                    "Thao tác đã được huỷ bỏ!",
                                    "error"
                                );
                            },
                        });
                    }
                });
        })
    });
</script>

