@model List<ViewModels.CauHoiTrinhTuThaoTac.Response.CauHoiTrinhTuThaoTacVm>

@{
    var randomid = GetHashCode();
    var catId = ViewBag.catId;
}

<table id="@randomid" class="table table-dark table-hover table-striped table-responsive" style="width:100%;border-bottom:10px">
    <thead class="bg-secondary" style="vertical-align:middle;font-size:small">
        <tr>
            <th class="col-2" style="text-align:center">
                Thứ tự
            </th>
            <th hidden>
                Id
            </th>
            <th class="col-9" style="text-align:center">
                Nội dung
            </th>
            <th class="col-1" style="text-align:center">
                Điểm số
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align:center;vertical-align:middle">
                <td style="font-size: xxx-large;">
                    @item.ThuTu
                </td>
                <td hidden>
                    @item.Id
                </td>
                <td style="text-align:start">
                    <table class="table table-secondary table-bordered mt-3" style="font-size:small;vertical-align:middle;margin-bottom: 5px;">
                        <tbody>
                            <tr>
                                <td class="col-2" style="vertical-align:middle;font-size:x-small">
                                    <i class="bi-1-circle-fill"></i>
                                    Nội dung thao tác
                                </td>
                                <td class="bg-white">
                                    @item.Text
                                </td>
                                <td class="col-1" style="text-align:end">
                                    <div class="btn-group" style=" white-space:nowrap;width:140px">
                                        <btn class="btn btn-sm btn-secondary btnSuaCauHoiTrinhTuThaoTac w-100" data-abc="@item.CauHoiTuLuanId" data-id="@item.Id" data-noidungcauhoi="@item.Text">
                                            <i class="bi-pencil"></i>
                                            Sửa
                                        </btn>
                                        <btn class="btn btn-sm btn-outline-danger btnXoaCauHoiTrinhTuThaoTac w-100" data-abc="@item.CauHoiTuLuanId" data-id="@item.Id" data-noidungcauhoi="@item.Text">
                                            <i class="bi-trash"> </i>
                                            Xoá
                                        </btn>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;font-size:x-small">
                                    <i class="bi-2-circle-fill"></i>
                                    Điểm chú ý
                                </td>
                                <td class="bg-white">
                                    @if (item.diemChuYs.Any())
                                    {
                                        foreach (var dcy in item.diemChuYs.ToList())
                                        {
                                            <span style="font-size:smaller" class="badge text-bg-warning">  @dcy.Text</span>
                                        }
                                    }
                                </td>
                                <td>
                                    <div class="btn-group" style=" white-space:nowrap;width:140px;font-size:small">
                                        <btn class="btn btn-sm btn-secondary btnThemDiemChuY w-100" data-abc="@item.CauHoiTuLuanId" data-cauhoittttId="@item.Id">
                                            <i class="bi-plus"></i>
                                            Thêm
                                        </btn>
                                        <btn class="btn btn-sm btn-secondary btnSuaDiemChuY w-100" data-id="@item.Id">
                                            <i class="bi-pencil"></i>
                                            Sửa
                                        </btn>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-secondary table-bordered" style="font-size:small;vertical-align:middle">
                        <thead>
                            <tr>
                                <td class="col-5" style="text-align:center;font-size:x-small">
                                    <i class="bi-3-circle-fill"></i>
                                    Lỗi tại công đoạn
                                </td>
                                <td class="col-6" style="text-align:center;font-size:x-small">
                                    <i class="bi-4-circle-fill"></i>
                                    Đối sách
                                </td>
                                <td class="col-1"></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (item.loiTaiCongDoans.Any())
                            {
                                foreach (var ltcd in item.loiTaiCongDoans.ToList())
                                {
                                    <tr>
                                        <td class="bg-white">
                                            @ltcd.Text
                                        </td>
                                        <td class="bg-white">
                                            @if (ltcd.doiSaches.Any())
                                            {
                                                foreach (var ds in ltcd.doiSaches.ToList())
                                                {
                                                    <span style="font-size:smaller" class="badge text-bg-primary">@ds.Text</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <div class="btn-group" style=" white-space:nowrap;width:140px;font-size:small">
                                                <btn class="btn btn-sm btn-secondary btnSuaLoiDoiSach w-100" data-abc="@item.CauHoiTuLuanId" data-id="@ltcd.Id" data-noidungcauhoi="@item.Text">
                                                    <i class="bi-pencil"></i>
                                                    Sửa
                                                </btn>
                                                <btn class="btn btn-sm btn-outline-danger  btnXoaLoiTaiCongDoan w-100" data-abc="@item.CauHoiTuLuanId" data-id="@ltcd.Id">
                                                    <i class="bi-trash"> </i>
                                                    Xoá
                                                </btn>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td style="text-align:center">
                                    <btn style="width:180px;font-size:small" class="btn btn-sm btn-secondary btnThemLoiCongDoan" data-abc="@item.CauHoiTuLuanId" data-cauhoittttId="@item.Id">
                                        <i class="bi-plus"></i>
                                        Thêm lỗi tại công đoạn
                                    </btn>
                                </td>
                                <td style="text-align:center">
                                    <btn style="width:180px;font-size:small" class="btn btn-sm btn-secondary btnThemDoiSachLoi" data-abc="@item.CauHoiTuLuanId" data-cauhoittttId="@item.Id">
                                        <i class="bi-plus"></i>
                                        Thêm đối sách
                                    </btn>
                                </td>
                                <td style="text-align:center">
                                    <div style="width:140px">
                                        <btn class="btn btn-sm btn-success btnRefresh" style=";font-size:small" data-abc="@item.CauHoiTuLuanId">
                                            <i class="bi-arrow-clockwise"></i>
                                        </btn>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="font-size: large;">
                    <span class="badge text-bg-light">
                        @item.Score điểm
                    </span>
                    <hr>
                    <button class="btn btn-light shadow btnSuaDiemCauHoiTTTT" style="font-size:small"
                    data-idTTTT="@item.Id" data-nowScoreTTTT="@item.Score" data-catId="">
                        <i class="bi-plus-slash-minus"></i>
                        <br>
                        Sửa điểm
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="modelEditDCY" data-coreui-modal="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="editDiemChuY"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelCreateDoiSach" data-coreui-modal="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="createDoiSach"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelSuaLoiDoiSach" data-coreui-modal="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="editLoiDoiSach"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $("#@randomid").DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "rowReorder": true
        });
        table.on('row-reorder', function (e, diff, edit) {
            table.one('draw', function () {
                var newOrder = [];
                for (var i = 0; i < table.rows().count(); i++) {
                    var rowData = table.row(i).data();
                    newOrder.push({ Id: rowData[1], ThuTu: rowData[0] });
                }
                var parsedNewOrder = newOrder.map(item => ({ Id: item.Id, ThuTu: parseInt(item.ThuTu) }));
                console.log(parsedNewOrder)
                $.ajax({
                    url: 'UpdatePositions',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(parsedNewOrder),
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        $(".btnSuaCauHoiTrinhTuThaoTac").click(async function () {
            var id = $(this).data("id");
            var noidungcauhoi = $(this).data("noidungcauhoi");
            var cauhoituluanId = $(this).data("abc");
            var intcauhoituluanId = parseInt(cauhoituluanId);

            const { value: text } = await Swal.fire({
                input: "textarea",
                inputLabel: "Sửa nội dung thao tác :",
                inputValue: noidungcauhoi,
                inputAttributes: {
                    "aria-label": "Type your message here",
                },
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Huỷ bỏ",
                reverseButtons: true,
            });
            if (text) {
                $.ajax({
                    url: "UpdateTextCauHoiTrinhTuThaoTac",
                    type: "POST",
                    data: {
                        id: id,
                        Text: text,
                    },
                    success: function (result) {
                        Swal.fire({
                            icon: "success",
                            title: "Sửa nội dung thành công",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        $.ajax({
                            url: "GetAllByCauHoiTuLuan",
                            type: "POST",
                            data: {
                                id: intcauhoituluanId,
                            },
                            success: function (result) {
                                $("#@randomid").html(result);
                            },
                        });
                    },
                });
            }
        });

        $(".btnXoaCauHoiTrinhTuThaoTac").click(async function () {
            var id = $(this).data("id");
            var noidungcauhoi = $(this).data("noidungcauhoi");
            var cauhoituluanId = $(this).data("abc");
            var intId = parseInt(id);
            var intcauhoituluanId = parseInt(cauhoituluanId);

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger",
                },
                buttonsStyling: true,
            });
            swalWithBootstrapButtons
                .fire({
                    title: "Xoá trình tự thao tác?",
                    text: "Dữ liệu liên quan tới trình tự thao tác này sẽ bị xoá",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xác nhận",
                    cancelButtonText: "Huỷ bỏ",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "DeleteCauHoiTrinhTuThaoTac",
                            type: "POST",
                            data: {
                                id: id,
                                cauhoituluanId: cauhoituluanId
                            },
                            success: function (result) {
                                if (result.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Xoá câu hỏi thành công",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    });
                                    $.ajax({
                                        url: "GetAllByCauHoiTuLuan",
                                        type: "POST",
                                        data: {
                                            id: intcauhoituluanId,
                                        },
                                        success: function (result) {
                                            $("#@randomid").html(result);
                                        },
                                    });
                                } else {
                                    Swal.fire(
                                        "Lỗi máy chủ",
                                        "Thao tác đã được huỷ bỏ!",
                                        "error"
                                    );
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.fire(
                                    "Lỗi máy chủ",
                                    "Thao tác đã được huỷ bỏ!",
                                    "error"
                                );
                            },
                        });
                    }
                });
        })

        $(".btnThemDiemChuY").click(async function () {
            var cauhoitrinhtuthaotacId = $(this).attr("data-cauhoittttId");
            var cauhoituluanId = $(this).data("abc");
            var intcauhoituluanId = parseInt(cauhoituluanId);
            const { value: text } = await Swal.fire({
                input: "textarea",
                inputLabel: "Nhập nội dung điểm chú ý cần thêm :",
                inputAttributes: {
                    "aria-label": "Type your message here",
                },
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Huỷ bỏ",
                reverseButtons: true,
            });
            if (text) {
                $.ajax({
                    type: "POST",
                    url: "CreateDiemChuY",
                    data: {
                        cauhoitrinhtuthaotacId: cauhoitrinhtuthaotacId,
                        Text: text,
                    },
                    success: function (result) {
                        Swal.fire({
                            icon: "success",
                            title: "Thêm điểm chú ý thành công",
                            showConfirmButton: false,
                            timer: 1500,
                        });

                        $.ajax({
                            url: "GetAllByCauHoiTuLuan",
                            type: "POST",
                            data: {
                                id: intcauhoituluanId,
                            },
                            success: function (result) {
                                $("#@randomid").html(result);
                            },
                        });
                    },
                });
            }
        });

        $(".btnSuaDiemChuY").click(function () {
            var id = $(this).attr("data-id");
            $.ajax({
                url: "OpenModalEditDCY",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#editDiemChuY").html(result);
                    $("#modelEditDCY").modal("show");
                },
            });
        });





        $(".btnThemLoiCongDoan").click(async function () {
            var cauhoitrinhtuthaotacId = $(this).attr("data-cauhoittttId");
            var cauhoituluanId = $(this).data("abc");
            var intcauhoituluanId = parseInt(cauhoituluanId);
            const { value: text } = await Swal.fire({
                input: "textarea",
                inputLabel: "Nhập nội dung lỗi tại công đoạn cần thêm :",
                inputAttributes: {
                    "aria-label": "Type your message here",
                },
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Huỷ bỏ",
                reverseButtons: true,
            });
            if (text) {
                $.ajax({
                    type: "POST",
                    url: "CreateLoiTaiCongDoan",
                    data: {
                        cauhoitrinhtuthaotacId: cauhoitrinhtuthaotacId,
                        Text: text,
                    },
                    success: function (result) {
                        Swal.fire({
                            icon: "success",
                            title: "Thêm điểm chú ý thành công",
                            showConfirmButton: false,
                            timer: 1500,
                        });

                        $.ajax({
                            url: "GetAllByCauHoiTuLuan",
                            type: "POST",
                            data: {
                                id: intcauhoituluanId,
                            },
                            success: function (result) {
                                $("#@randomid").html(result);
                            },
                        });
                    },
                });
            }
        });

        $(".btnThemDoiSachLoi").click(function () {
            var id = $(this).attr("data-cauhoittttId");
            $.ajax({
                url: "OpenModalCreateDoiSach",
                type: "POST",
                data: {
                    cauhoitrinhtuthaotacId: id,
                },
                success: function (result) {
                    $("#createDoiSach").html(result);
                    $("#modelCreateDoiSach").modal("show");
                },
            });
        })

        $(".btnSuaLoiDoiSach").click(function () {
            var id = $(this).attr("data-id");
            id = parseInt(id)
            $.ajax({
                url: "OpenModalEditLoiDoiSach",
                type: "POST",
                data: {
                    loitaicongdoanId: id,
                },
                success: function (result) {
                    $("#editLoiDoiSach").html(result);
                    $("#modelSuaLoiDoiSach").modal("show");
                },
            });
        })

        $(".btnXoaLoiTaiCongDoan").click(async function () {
            var id = $(this).data("id");
            var id = parseInt(id);
            var cauhoituluanId = $(this).data("abc");
            var intcauhoituluanId = parseInt(cauhoituluanId);

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger",
                },
                buttonsStyling: true,
            });
            swalWithBootstrapButtons
                .fire({
                    title: "Xoá lỗi tại công đoạn?",
                    text: "Dữ liệu liên quan tới lỗi tại công đoạn này sẽ bị xoá",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xác nhận",
                    cancelButtonText: "Huỷ bỏ",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "DeleteLTCD",
                            type: "POST",
                            data: {
                                id: id,
                            },
                            success: function (result) {
                                if (result.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Xoá lỗi tại công đoạn thành công",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    });
                                    $.ajax({
                                        url: "GetAllByCauHoiTuLuan",
                                        type: "POST",
                                        data: {
                                            id: intcauhoituluanId,
                                        },
                                        success: function (result) {
                                            $("#@randomid").html(result);
                                        },
                                    });
                                } else {
                                    Swal.fire(
                                        "Lỗi máy chủ",
                                        "Thao tác đã được huỷ bỏ!",
                                        "error"
                                    );
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.fire(
                                    "Lỗi máy chủ",
                                    "Thao tác đã được huỷ bỏ!",
                                    "error"
                                );
                            },
                        });
                    }
                });
        })

        $(".btnRefresh").click(function () {
            var cauhoituluanId = $(this).data("abc");
            var intcauhoituluanId = parseInt(cauhoituluanId);
            $.ajax({
                url: "GetAllByCauHoiTuLuan",
                type: "POST",
                data: {
                    id: intcauhoituluanId,
                },
                success: function (result) {
                    $("#@randomid").empty();

                    $("#@randomid").html(result);
                },
            });
        })

        $(".btnSuaDiemCauHoiTTTT").click(function () {
            var catId = @catId;
            var id = $(this).attr("data-idTTTT");
            var intCategoryId = parseInt(catId);
            var thisScore = $(this).attr("data-nowScoreTTTT");
            $.ajax({
                url: "GetTotalScore",
                type: "POST",
                data: {
                    categoryId: intCategoryId,
                },
                success: function (result) {
                    if (result.success) {
                        let nowTotalScore = result.result;
                        let remainScore = 100 - nowTotalScore;
                        showScoreInputDialog(
                            id,
                            intCategoryId,
                            remainScore,
                            thisScore
                        );
                    } else {
                        Swal.fire(
                            "Lỗi máy chủ",
                            "Thao tác đã được huỷ bỏ!",
                            "error"
                        );
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire("Lỗi máy chủ", "Thao tác đã được huỷ bỏ!", "error");
                },
            });
        });

        async function showScoreInputDialog(id, intCategoryId, remainScore, thisScore) {
            const { value: soDiem } = await Swal.fire({
                title: "Chọn điểm số cho câu hỏi",
                icon: "question",
                input: "range",
                inputLabel: "Số điểm chưa gán còn lại: " + remainScore + " điểm",
                inputAttributes: {
                    min: "0",
                    max: "100",
                    step: "1",
                },
                inputValue: parseFloat(thisScore),
            });
            var diemSoSanh = parseFloat(remainScore) + parseFloat(thisScore);
            if (soDiem <= diemSoSanh) {
                $.ajax({
                    url: "UpdateScoreTTTT",
                    type: "POST",
                    data: {
                        id: id,
                        Score: soDiem,
                    },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Sửa điểm số thành công",
                                showConfirmButton: false,
                                timer: 1500,
                            });
                            $.ajax({
                                url: "GetAllTuLuanByCategoryId",
                                type: "POST",
                                data: {
                                    id: intCategoryId,
                                },
                                success: function (result) {
                                    $("#listQuestionTuLuan").html(result);
                                },
                            });
                            $.ajax({
                                url: "GetTotalScore",
                                type: "POST",
                                data: {
                                    categoryId: intCategoryId,
                                },
                                success: function (result) {
                                    $("#countDiemso").html(result.result);
                                    if (result.result !== 100) {
                                        $("#logoDiemdagan i").html('<i class="bi-x-circle-fill" style="color:red"></i>');
                                    } else {
                                        $("#logoDiemdagan i").html('<i class="bi-check-circle-fill" style="color:green"></i>');
                                    }
                                },
                            });
                            $.ajax({
                                url: "GetCauHoiNullScore",
                                type: "POST",
                                data: {
                                    id: intCategoryId,
                                },
                                success: function (result) {
                                    $("#countChuaGan").html(result.sl);
                                    if (result.sl !== 0) {
                                        $("#logoChuagandiem i").html('<i class="bi-x-circle-fill" style="color:red"></i>');

                                    } else {
                                        $("#logoChuagandiem i").html('<i class="bi-check-circle-fill" style="color:green"></i>');

                                    }
                                },
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire("Lỗi máy chủ", "Thao tác đã được huỷ bỏ!", "error");
                    },
                });
            }
            if (soDiem > diemSoSanh) {
                Swal.fire(
                    "Điểm số không phù hợp",
                    "Bạn chỉ được gán thêm tối đa: " + remainScore + " điểm",
                    "error"
                );
            }
        }

    });
</script>
