@model IEnumerable<ViewModels.Question.Response.QuestionVm>
<div class="accordion">
    @foreach (var item in Model)
    {
        string speId = "new" + item.Id;
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed btnTitle" type="button" data-bs-toggle="collapse" data-bs-target="#@speId" aria-expanded="false">
                    <span style="min-width:80px; margin-right:10px" class="badge badge-sm rounded-pill bg-secondary ">
                        @{
                            if (item.Score >= 1)
                            {
                                <i style="color:yellow" class="bi-star"></i>
                            }
                        }
                        @(item.Score ?? 0)<small> điểm</small>
                    </span>
                    @item.Text
                </button>
            </h2>
            <div id="@speId" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table id="example" class="table table-dark table-hover table-sm" style="font-size:small;margin-bottom:auto">
                        <tbody>
                            <tr>
                                <td class="col-sm-2" style="text-align:center">
                                    A :
                                </td>
                                <td style="background:black">
                                    @Html.DisplayFor(modelItem => item.QA)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2" style="text-align:center">
                                    B :
                                </td>
                                <td style="background:black">
                                    @Html.DisplayFor(modelItem => item.QB)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2" style="text-align:center">
                                    C :
                                </td>
                                <td style="background:black">
                                    @Html.DisplayFor(modelItem => item.QC)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2" style="text-align:center">
                                    D :
                                </td>
                                <td style="background:black">
                                    @Html.DisplayFor(modelItem => item.QD)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2" style="text-align:center">
                                    Đáp án đúng :
                                </td>
                                <td style="background:black">
                                    @(item.QCorrectAns.ToString().ToUpper())
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div style="text-align:end;margin-top:5px">
                        <div class="btn-group" style=" white-space:nowrap;">
                            <btn class="btn btn-outline-secondary btn-sm btnSuaDiem" data-abc="@item.CategoryId" data-id="@item.Id" data-this-score="@(item.Score ?? 0) ">
                                <i class="bi-exposure"> </i>
                                Sửa thang điểm
                            </btn>
                            <btn class="btn btn-outline-secondary btn-sm btnSuaCauHoi" data-id="@item.Id">
                                <i class="bi-pencil-fill"> </i>
                                Sửa câu hỏi
                            </btn>
                            <btn class="btn btn-outline-danger btn-sm btnXoaCauHoiTracNghiem" data-abc="@item.CategoryId" data-id="@item.Id">
                                <i class="bi-trash"> </i>
                                Xoá
                            </btn>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script src="~/javascripts/adminpage/question/_questionlist.js"></script>