@model IEnumerable<ViewModels.CauHoiTuLuan.Response.CauHoiTuLuanVm>

<div class="accordion" id="accordionFlushExample">
    @foreach (var item in Model)
    {
        string speId = "newTL" + item.Id;
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed btnXemchitiet " type="button" data-bs-toggle="collapse" data-bs-target="#@speId" aria-expanded="false" data-id="@item.Id">
                    <span style="min-width:70px; margin-right:10px;font-weight: 600" class="badge badge-sm bg-success shadow ">
                        @*        @{
                    if (item.Score >= 1)
                    {
                    <i style="color:yellow" class="bi-star"></i>
                    }
                    }*@
                        @(item.Score ?? 0)<small> điểm</small>
                    </span>
                    @item.Text
                </button>
            </h2>
            <div id="@speId" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div style="text-align:start;margin-bottom:5px;margin-left:2px">
                        <div class="btn-group" style=" white-space:nowrap;">
                            <btn class="btn btn-outline-secondary  btn-sm btnSuaDiemTuLuan" data-abc="@item.CategoryId" data-id="@item.Id" data-this-score="@(item.Score ?? 0) ">
                                <i class="bi-exposure"> </i>
                                Sửa điểm
                            </btn>
                            <btn class="btn btn-outline-secondary  btn-sm btnSuaCauHoiTuLuan" data-abc="@item.CategoryId" data-id="@item.Id" data-tencauhoi="@item.Text">
                                <i class="bi-pencil-fill"> </i>
                                Sửa câu hỏi
                            </btn>
                            <btn class="btn btn-outline-secondary  btn-sm btnXoaCauHoiTuLuan" data-abc="@item.CategoryId" data-id="@item.Id">
                                <i class="bi-trash"> </i>
                                Xoá
                            </btn>
                        </div>
                    </div>
                    <div id="@item.Id"></div>

                </div>
            </div>
        </div>
    }
</div>

<script src="~/javascripts/adminpage/question/_questiontuluanlist.js"></script>

