@model IEnumerable<ViewModels.CauHoiTuLuan.Response.CauHoiTuLuanVm>

<div class="accordion" id="accordionFlushExample">
    @foreach (var item in Model)
    {
        string speId = "newTL" + item.Id;
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed btnXemchitiet " type="button" data-coreui-toggle="collapse" data-coreui-target="#@speId" aria-expanded="false" data-id="@item.Id">
                    <btn class="btn btn-light btn-sm " style="min-width:80px; margin-right:10px;font-weight: 600">
                        @(item.Score ?? 0)<small> điểm</small>
                    </btn>
                    @item.Text
                </button>
            </h2>
            <div id="@speId" class="accordion-collapse collapse" data-coreui-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div style="text-align:start;margin-bottom:5px">
                        <div class="btn-group" style=" white-space:nowrap;">
                            <btn class="btn btn-secondary btnThemNoiDungThaoTac" data-abc="@item.CategoryId" data-id="@item.Id" data-this-score="@(item.Score ?? 0) ">
                                <i class="bi-file-earmark-plus"> </i>
                                Thêm nội dung thao tác
                            </btn>
                            <btn class="btn btn-secondary btnSuaDiemTuLuan" data-abc="@item.CategoryId" data-id="@item.Id" data-this-score="@(item.Score ?? 0) ">
                                <i class="bi-plus-slash-minus"> </i>
                                Sửa điểm
                            </btn>
                            <btn class="btn btn-secondary btnSuaCauHoiTuLuan" data-abc="@item.CategoryId" data-id="@item.Id" data-tencauhoi="@item.Text">
                                <i class="bi-pencil"> </i>
                                Sửa câu hỏi
                            </btn>
                            <btn class="btn btn-danger  btnXoaCauHoiTuLuan" data-abc="@item.CategoryId" data-id="@item.Id">
                                <i class="bi-trash"> </i>
                                Xoá
                            </btn>
                        </div>
                    </div>
                    <div id="@item.Id"></div>

                </div>
            </div>
        </div>
    }
</div>

<script src="~/javascripts/adminpage/question/_questiontuluanlist.js"></script>

