@model ViewModels.Question.Response.QuestionVm
@{
    int thisQ = Convert.ToInt32(ViewBag.numQuestion);
    int totalQTracNghiem = Convert.ToInt32(ViewBag.soluongcauhoiTracNghiem);
    int totalQTuLuan = Convert.ToInt32(ViewBag.soluongcauhoiTuLuan);

    int totalQ = Convert.ToInt32(ViewBag.totalQuestion);
    double percentProcessbar = ((double)thisQ / totalQ) * 100;
    string pP = percentProcessbar.ToString("0") + "%";
}

<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-open-tab" data-coreui-toggle="pill" data-coreui-target="#pills-open" type="button" role="tab" aria-controls="pills-open" aria-selected="true">
            Câu hỏi hiện tại
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link btnXemlichsu" id="pills-close-tab" data-coreui-toggle="pill" data-coreui-target="#pills-close" type="button" role="tab" aria-controls="pills-close" aria-selected="false">
            Câu hỏi đã trả lời 
            <span style="vertical-align: text-bottom;" class="badge text-bg-secondary">@totalQ</span>
        </button>
    </li>
</ul>
<div class="progress-group">
    <div class="progress-group-header">
        <i class="bi-mortarboard mx-1"></i> 
        <div>Phần thi trắc nghiệm</div>
        <div class="ms-auto font-weight-bold"> @thisQ/@totalQ câu hỏi</div>
    </div>
    <div class="progress-group-bars">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @pP"></div>
        </div>
    </div>
</div>


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-open" role="tabpanel" aria-labelledby="pills-open-tab" tabindex="0">
        <div class="card bg-white pt-1">
            <div class="card-body text-center">
                <form id="myForm">
                    <div>
                        <span class="badge rounded-pill text-bg-warning mb-3 shadow">@Model.Score điểm</span>
                        <h2>@Model.Text</h2>
                        <p>Tên linh kiện tại công đoạn?</p>
                        @{
                            if (!string.IsNullOrEmpty(Model.QA))
                            {
                                    <button class="btn w-100 btn-outline-primary mt-2" type="submit" name="answer" value="A">@Model.QA</button>
                            }
                            if (!string.IsNullOrEmpty(Model.QB))
                            {
                                    <button class="btn w-100 btn-outline-primary mt-2" type="submit" name="answer" value="B">@Model.QB</button>
                            }
                            if (!string.IsNullOrEmpty(Model.QC))
                            {
                                    <button class="btn w-100 btn-outline-primary mt-2" type="submit" name="answer" value="C">@Model.QC</button>
                            }
                            if (!string.IsNullOrEmpty(Model.QD))
                            {
                                    <button class="btn w-100 btn-outline-primary mt-2" type="submit" name="answer" value="D">@Model.QD</button>
                            }
                        }
                    </div>
                    @Html.HiddenFor(x => x.Text)
                    @Html.HiddenFor(x => x.QA)
                    @Html.HiddenFor(x => x.QB)
                    @Html.HiddenFor(x => x.QC)
                    @Html.HiddenFor(x => x.QD)
                    @Html.HiddenFor(x => x.QCorrectAns)
                    @Html.HiddenFor(x => x.Score)
                    @Html.HiddenFor(x => x.CategoryId)
                    @Html.HiddenFor(x => x.Id)
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-close" role="tabpanel" aria-labelledby="pills-close-tab" tabindex="0">
        <div class="accordion" id="accordionExample">
           
        </div>
    </div>
</div>

                    
<script>
    $(document).ready(function () {
        $("#myForm").submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            alert("submit")
            $.ajax({
                type: "POST",
                url: "Login",
                data: formData,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


      
    })
</script>