@model IEnumerable<ViewModels.Question.Response.QuestionVm>


@{
    ViewData["Active"] = "pageQuanLyCauHoi";
    ViewData["ActiveChild"] = "pageDanhsachcauhoi";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QCorrectAns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QCorrectAns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
