@model List<ViewModels.ExamResult.Response.ExamResultVm>
@{
    var dataTen = Json.Serialize(ViewBag.dataTen);
    var dataDiem = Json.Serialize(ViewBag.dataDiem);
}
<div class="row mb-2">
    <div class="col-sm-5 col-lg-5">
        <div class="card ">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-5 fw-semibold">
                        <span id="countDiemTren6"></span>
                    </div>
                    <div class="small text-medium-emphasis">Biểu đồ điểm số trên 60</div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart-tren6" height="73" style="display: block; box-sizing: border-box; height: 69.5238px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-lg-5">
        <div class="card ">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-5 fw-semibold">
                        <span id="countDiemDuoi6"></span>
                    </div>
                    <div class="small text-medium-emphasis">Biểu đồ điểm số dưới 60</div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart-duoi6" height="73" style="display: block; box-sizing: border-box; height: 69.5238px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-lg-2">
        <div class="card ">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-5 fw-semibold">
                        <span id="txtcountTotal"></span>
                    </div>
                    <div class="small text-medium-emphasis">Tổng số bài thi</div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;width:100%">
            </div>
        </div>
    </div>
</div>
<div class="card mb-1">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                @{
                    if (Model != null && Model.Any() && Model.DistinctBy(x => x.CategoryName).Count() == 1)
                    {
                        <h4 class="card-title mb-0">@Model.FirstOrDefault()?.CategoryName</h4>
                    }
                    else if (Model != null && Model.Any() && Model.DistinctBy(x => x.CategoryName).Count() > 1)
                    {

                        <h4 class="card-title mb-0">Biểu đồ tổng hợp @Model.DistinctBy(x => x.CategoryName).Count().ToString() bài thi </h4>
                    }
                    else
                    {
                        <p>No data available</p>
                    }
                }
                <div class="small text-medium-emphasis">Biểu đồ kết quả tổng hợp</div>
            </div>
        </div>
        <div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas class="mb-3" id="myChart" height="314" style="width:100%"></canvas>
        </div>
    </div>
    <div class="card-footer">
        <div class="row row-cols-1 row-cols-md-12 text-center">
            <div class="col-4 mb-sm-2 mb-0">
                <div class="text-medium-emphasis">Điểm cao (Trên 80 điểm)</div>
                <div class="fw-semibold" id="txtDiemsocao"></div>
                <div class="progress progress-thin mt-2">
                    <div id="barDiemcao" class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-4 mb-sm-2 mb-0">
                <div class="text-medium-emphasis">Điểm trung bình (60 đến 80 điểm)</div>
                <div class="fw-semibold" id="txtDiemsotrungbinh"></div>
                <div class="progress progress-thin mt-2">
                    <div id="barTrungbinh" class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-4 mb-sm-2 mb-0">
                <div class="text-medium-emphasis">Điểm thấp (Dưới 60 điểm)</div>
                <div class="fw-semibold" id="txtDiemsothap"></div>
                <div class="progress progress-thin mt-2">
                    <div id="barDiemthap" class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <table id="tblDanhsachdulieu" class="table table-hover" style="vertical-align:middle;width:100%">
            <thead style="font-size:small">
                <tr>
                    <th></th>
                    <th style="font-weight: 350;">
                        Ngày giờ
                    </th>
                    <th style="font-weight: 350;">
                        Phòng thi
                    </th>
                    <th style="font-weight: 350;">
                        Mã nhân viên
                    </th>
                    <th style="font-weight: 350;">
                        Họ tên
                    </th>
                    <th style="font-weight: 350;">
                        Bộ phận
                    </th>
                    <th style="font-weight: 350;">
                        Model
                    </th>
                    <th style="font-weight: 350;">
                        Cell
                    </th>
                    <th style="font-weight: 350;">
                        Điểm số
                    </th>
                    <th style="font-weight: 350;">
                        Đánh giá
                    </th>
                </tr>
            </thead>
            <tbody style="font-size:smaller">
                @foreach (var item in Model.OrderByDescending(x=>x.Date))
                {
                    <tr>
                        <td style="text-align:end;white-space:nowrap">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm w-100 btnXemChiTietBaithi" data-idbaithi="@item.Id">
                                    Xem chi tiết
                                </button>
                                <button class="btn btn-success btn-sm btnDanhGia" data-thisid="@item.Id">
                                    Đánh giá
                                </button>
                            </div>
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td style="text-align:start">
                            @item.CategoryName
                        </td>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @item.Hoten
                        </td>
                        <td>
                            @item.Bophan
                        </td>
                        <td>
                            @item.Model
                        </td>
                        <td>
                            @item.Cell
                        </td>
                        <td>
                            @item.Score điểm
                        </td>
                        <td style="white-space:nowrap">
                            @{
                                if (item.Result == null)
                                {
                                    <i class="bi-question-circle-fill"></i>
                                }
                                else
                                {
                                    if (item.Result == true)
                                    {
                                        <span class="badge bg-success">OK</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">NG</span>
                                    }

                                }
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div id="noidungbaithi2" style="width:100%"></div>
    </div>
</div>


<script>
    $(document).ready(function () {
        function loadDataTheoChuDe() {
            var selectphongThiValue = $('#PhongThi').val();
            var selectDate = $('#datepicker').val();
            var selectboPhanId = $('#deptSelectList').val();
            var selectmodelId = $('#modelSelectList').val();
            var selectcellId = $('#cellSelectList').val();

            var name = $('#txtName').val();
            var userName = $('#txtuserName').val();

            var intCategoryId = parseInt(selectphongThiValue);
            var intboPhanId = parseInt(selectboPhanId);
            var intmodelId = parseInt(selectmodelId);
            var intcellId = parseInt(selectcellId);


            $.ajax({
                url: '/admin/thongke/Search',
                type: 'POST',
                data: {
                    CategoryId: intCategoryId,
                    Date: selectDate,
                    boPhanId: selectboPhanId,
                    modelId: intmodelId,
                    cellId: intcellId,
                    name: name,
                    userName: userName
                },
                success: function (data) {
                    $('#ketquaTimkiem').html(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        $(".btnDanhGia").click(async function () {
            let id = $(this).attr("data-thisid");
            const inputOptions = new Promise((resolve) => {
                setTimeout(() => {
                    resolve({
                        "ok": "OK",
                        "ng": "NG",
                    });
                }, 0);
            });
            const { value: rs } = await Swal.fire({
                icon: "warning",
                title: "Đánh giá kết quả bài thi",
                input: "radio",
                inputOptions,
                inputValidator: (value) => {
                    if (!value) {
                        return "Bạn cần chọn đánh giá cho bài thi!";
                    }
                }
            });
            if (rs) {
                $.ajax({
                    url: '/admin/thongke/danhgia',
                    type: 'POST',
                    data: {
                        id: id,
                        result: rs
                    },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Đánh giá bài thi thành công",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(function () {
                                loadDataTheoChuDe();
                            })
                        } else {
                            Swal.fire(
                                "Lỗi máy chủ",
                                "Thao tác đã được huỷ bỏ!",
                                "error"
                            );
                        }
                    },
                    error: function (error) {
                        Swal.fire(
                            "Lỗi máy chủ",
                            "Thao tác đã được huỷ bỏ!",
                            "error"
                        );
                    }
                });
            }

        });



        $(".btnXemChiTietBaithi").click(function () {
            var id = $(this).attr("data-idbaithi");
            $.ajax({
                url: '/admin/thongke/Search',
                type: 'POST',
                data: {
                    examResultId: id
                },
                success: function (data) {
                    $('#noidungbaithi2').html(data);
                    $('#staticBackdrop2').modal("show")
                },
                error: function (error) {
                    console.log(error)
                    Swal.fire({
                        icon: "error",
                        width: 300,
                        text: "Không tải được dữ liệu bài thi",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            });
        })

        $("#tblDanhsachdulieu").DataTable({
            "paging": true,
            "searching": true,
            "info": true,
            "responsive": true,
            "ordering": true
        });

        var dataTen = @Html.Raw(dataTen);
        var dataDiem = @Html.Raw(dataDiem);

        // Đếm số lượng điểm
        var countTotal = dataDiem.length;
        $('#txtcountTotal').text(countTotal + " bài thi");


        var countDiemTren8 = dataDiem
            .filter(function (score) {
                return score >= 80;
            })
            .length;
        var percentTren8 = (countDiemTren8 / countTotal) * 100;
        var intpercentTren8 = parseInt(percentTren8);
        $('#txtDiemsocao').text(countDiemTren8 + " bài thi (~" + intpercentTren8 + "%)");
        var barDiemcao = document.getElementById('barDiemcao');
        if (barDiemcao) {
            barDiemcao.style.width = intpercentTren8 + '%';
        }

        var countDiemTren6 = dataDiem
            .filter(function (score) {
                return (score >= 60 && score < 80);
            })
            .length;
        var percentTren6 = (countDiemTren6 / countTotal) * 100;
        var intpercentTren6 = parseInt(percentTren6)
        $('#countDiemTren6').text(countDiemTren6 + " bài thi điểm cao (~" + intpercentTren6 + "%)")
        $('#txtDiemsotrungbinh').text(countDiemTren6 + " bài thi (~" + intpercentTren6 + "%)");
        var barTrungbinh = document.getElementById('barTrungbinh');
        if (barTrungbinh) {
            barTrungbinh.style.width = intpercentTren6 + '%';
        }

        var countDiemDuoi6 = dataDiem
            .filter(function (score) {
                return score < 60;
            })
            .length;
        var percentDuoi6 = (countDiemDuoi6 / countTotal) * 100;
        var intpercentDuoi6 = parseInt(percentDuoi6)
        $('#countDiemDuoi6').text(countDiemDuoi6 + " bài thi điểm thấp (~" + intpercentDuoi6 + "%)");
        $('#txtDiemsothap').text(countDiemDuoi6 + " bài thi (~" + intpercentDuoi6 + "%)");
        var barDiemthap = document.getElementById('barDiemthap');
        if (barDiemthap) {
            barDiemthap.style.width = intpercentDuoi6 + '%';
        }

        // Tạo mảng dữ liệu cho điểm số
        var dataDiemTotal = dataDiem
            .filter(function (score) {
                return score !== null;
            })
            .sort(function (a, b) {
                return b - a; // Sắp xếp giảm dần
            });

        // Tạo mảng dữ liệu cho điểm số dưới 6
        var dataDiemDuoi6 = dataDiem
            .map(function (score) {
                return score < 60 ? score : null;
            })
            .filter(function (score) {
                return score !== null;
            })
            .sort(function (a, b) {
                return b - a; // Sắp xếp giảm dần
            });

        // Tạo mảng dữ liệu cho điểm số trên hoặc bằng 6
        var dataDiemTren6 = dataDiem
            .map(function (score) {
                return score >= 60 ? score : null;
            })
            .filter(function (score) {
                return score !== null;
            })
            .sort(function (a, b) {
                return b - a; // Sắp xếp giảm dần
            });

        //BIểu đồ tổng
        var ctxTotal = document.getElementById('myChart').getContext('2d');
        var myChartTotal = new Chart(ctxTotal, {
            type: 'line',
            data: {
                labels: dataTen,
                datasets: [
                    {
                        label: 'Điểm số',
                        data: dataDiemTotal,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        tension: 0.4 // Độ căng của đường

                    },
                    {
                        label: 'Ngưỡng điểm đạt',
                        data: Array(dataTen.length).fill(60), // Mảng chứa giá trị 6 với chiều dài bằng chiều dài của dataTen
                        backgroundColor: 'rgba(255, 0, 0, 0.2)',
                        borderColor: 'rgba(255, 0, 0, 1)',
                        borderWidth: 1,
                        borderDash: [5, 5], // Điểm đứt để phân biệt đường trung bình
                        pointRadius: 0 // Đặt kích thước của điểm trung bình là 0

                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        display: false // Ẩn trục x 
                    },
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

        //BIểu đồ trên 6
        var ctxAbove6 = document.getElementById('card-chart-tren6').getContext('2d');
        var myChartAbove6 = new Chart(ctxAbove6, {
            type: 'line',
            data: {
                labels: dataTen,
                datasets: [
                    {
                        label: 'Điểm số',
                        data: dataDiemTren6,

                        borderColor: 'rgba(135, 211, 134, 1)',

                        borderWidth: 1,
                        tension: 0.4 // Độ căng của đường

                    }
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: false
                    }
                },
                responsive: true,
                scales: {
                    x: {
                        display: false // Ẩn trục x
                    },
                    y: {
                        display: false // Ẩn trục y
                    }
                }
            }
        });
        //BIểu đồ dưới 6
        var ctxBelow6 = document.getElementById('card-chart-duoi6').getContext('2d');
        var myChartBelow6 = new Chart(ctxBelow6, {
            type: 'line',
            data: {
                labels: dataTen,
                datasets: [
                    {
                        label: 'Điểm số',
                        data: dataDiemDuoi6,
                        backgroundColor: 'rgba(255, 0, 0, 0.2)',
                        borderColor: 'rgba(255, 0, 0, 1)',
                        borderWidth: 1,
                        tension: 0.4 // Độ căng của đường
                    }
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: false
                    }
                },
                responsive: true,
                scales: {
                    x: {
                        display: false // Ẩn trục x
                    },
                    y: {
                        display: false // Ẩn trục y
                    }
                }
            }
        });
    })
</script>

